services:
  api:
    build: .
    container_name: node_api
    restart: always
    environment:
      - PORT=3000
    networks:
      - backend-network

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    networks:
      - backend-network

networks:
  backend-network: